* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sliderWidth: 320px;
$scaleHeight: 8px;
$handlerAddition: 6px;
$handlerSize: $scaleHeight + $handlerAddition;
$handlerBorderWidth: 1px;
$scaleBorderWidth: 1px;
$tooltipHeight: 15px;
$tooltipWidth: 30px;
$tooltipMargin: 3px;
$tooltipBorderWidth: 1px;
.liquidSlider {
  width: fit-content;
  margin-left: 30px;
  padding-top: $handlerAddition/2 + $handlerBorderWidth + $tooltipHeight + $tooltipMargin;
  padding-bottom: $handlerAddition/2 + $handlerBorderWidth;

  .liquidSlider__data {
    text-align: right;
    margin-bottom: $tooltipHeight + $tooltipMargin + 3px;
    max-width: $sliderWidth;
  }

  .liquidSlider__body {
    width: $sliderWidth;
    position: relative;

    .liquidSlider__scale {
      width: 100%;
      height: $scaleHeight;
      background-color: rgba(200, 200, 200, 0.3);
      border: solid $scaleBorderWidth black;
      border-radius: 5px;
    }

    .liquidSlider__handlerContainer {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: center;
      top: -$tooltipHeight - (($handlerSize - $handlerBorderWidth*2)/2);

      .liquidSlider__handlerTooltip {
        height: $tooltipHeight;
        background-color: rgba(255, 255, 255, 0.5);
        //border: solid $tooltipBorderWidth black;
        border-radius: 20%;
        font-size: 14px;
        line-height: $tooltipHeight - $tooltipBorderWidth*2;
        text-align: center;
        margin-top: 2px;
        user-select: none;

        > * {
          width: inherit;
          height: inherit;
        }
      }

      .liquidSlider__handlerBody {
        height: $handlerSize;
        width: $handlerSize;
        border-radius: 50%;
        background-color: #ffb6b0;
        border: solid $handlerBorderWidth darkgrey;

        &:hover, &:active {
          border-color: #593832;
        }

      }
    }
  }
}

;
