.liquidSlider, .liquidSlider * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sliderLength: 240px;

$scaleThickness: 8px;
$scaleBorderWidth: 1px;

$handlerSize: 14px;
$handlerAddition: abs($handlerSize - $scaleThickness);
$handlerBorderWidth: 1px;

$tooltipHeight: 15px;
$tooltipWidth: 30px;
$tooltipPadding: 4px;
$tooltipMargin: 3px;
$tooltipBorderWidth: 1px;

.liquidSlider {
  width: fit-content;

  &.liquidSlider_horizontal {
    padding-top: $handlerAddition/2 + $handlerBorderWidth + $tooltipHeight + $tooltipPadding*2;
    padding-bottom: $handlerAddition/2 + $handlerBorderWidth;
  }

  &.liquidSlider_vertical {
    padding-left: $handlerAddition/2 + $handlerBorderWidth;
    padding-right: $handlerAddition/2 + $handlerBorderWidth + $tooltipHeight + $tooltipPadding*2;
  }

  .liquidSlider__data {
    text-align: right;
    margin-bottom: $tooltipHeight + $tooltipMargin + 3px;
    max-width: $sliderLength;
  }

  .liquidSlider__body {
    &.liquidSlider_horizontal {
      width: $sliderLength;
    }

    &.liquidSlider_vertical {
      height: $sliderLength;
    }

    position: relative;

    .liquidSlider__scale {
      $scaleBorderRadius: 5px;

      &.liquidSlider_horizontal {
        width: 100%;
        height: $scaleThickness;
      }

      &.liquidSlider_vertical {
        height: 100%;
        width: $scaleThickness;
      }

      background-color: rgba(200, 200, 200, 0.3);
      border: solid $scaleBorderWidth black;
      border-radius: $scaleBorderRadius;

      .liquidSlider__range {
        position: absolute;
        background-color: #c5e6e6;
        border-radius: $scaleBorderRadius;

        &.liquidSlider_vertical {
          width: $scaleThickness - $scaleBorderWidth*2;
          left: $scaleBorderWidth;
        }

        &.liquidSlider_horizontal {
          height: $scaleThickness - $scaleBorderWidth*2;
          top: $scaleBorderWidth;
        }
      }
    }

    .liquidSlider__handlerContainer {
      position: absolute;
      display: flex;

      &.liquidSlider_horizontal {
        flex-direction: column-reverse;
        bottom: - abs($scaleThickness - $handlerSize) / 2;
      }

      &.liquidSlider_vertical {
        flex-direction: row;
        left: - abs($scaleThickness - $handlerSize) / 2;
      }

      justify-content: start;
      align-items: center;

      .liquidSlider__handlerTooltip {
        height: $tooltipHeight + $tooltipPadding * 2;
        padding: $tooltipPadding;
        background-color: rgba(255, 255, 255, 0.75);
        border: solid $tooltipBorderWidth rgba(0, 0, 0, 0.25);
        border-radius: 20%;
        font-size: 14px;
        line-height: $tooltipHeight - $tooltipBorderWidth*2;
        text-align: center;
        user-select: none;

        > * {
          height: $tooltipHeight;
        }
      }

      .liquidSlider__handlerBody {
        height: $handlerSize;
        width: $handlerSize;
        border-radius: 50%;
        background-color: #ffb6b0;
        border: solid $handlerBorderWidth darkgrey;
        outline: none;

        &:hover, &:focus {
          border-color: #593832;
        }
      }
    }
  }
}
