include ../panel-property/panel-property

div.handler-section
  div.handler-section__position
    +panel-property({ caption: `Положение ${index}` })
  div.handler-section__item
    p.handler-section__item-caption Значение #{index}
    input.js-handler-section__item.handler-section__item-text
  button.js-handler-section__remove-button.handler-section__remove-button х
