include ../blocks/slider-panel/slider-panel

head
  meta(charset="utf-8")
  meta(name="keywords" content="slider plugin demonstration")
  meta(name="description" content="demo page of slider plugin")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="msapplication-TileColor" content="#da532c")
  meta(name="msapplication-config" content="/browserconfig.xml")
  meta(name="theme-color" content="#ffffff")

  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/site.webmanifest")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  link(rel="shortcut icon" href="/favicon.ico")

  title Демонстрационная страница
body
  div.demo-page
    section.demo-page__panel
      +slider-panel({
        min: -50,
        max: 20,
        step: 1,
        isVertical: true,
      })
    section.demo-page__panel
      +slider-panel({ isInverted: true })
    section.demo-page__panel
      +slider-panel({
        items: [
          1,
          'two',
          "<img src='https://img.icons8.com/cotton/2x/like--v1.png' alt='heart'>",
          'last',
        ],
        min: 0,
        max: 22,
        isRange: true,
        isInverted: false,
        isVertical: true,
        isMarkupVisible: true
      })
    section.demo-page__panel
      +slider-panel({
        handlers: [
          {
            itemIndex: 2,
            rangePair: 'start'
          },
          {
            itemIndex: 4,
            rangePair: 0
          },
          {
            itemIndex: 6,
            rangePair: 3
          },
          { itemIndex: 7 }
        ],
        step: 2,
        isTooltipsVisible: false,
        isMarkupVisible: true,
        isVertical: false
      })
