include ../blocks/slider-panel/slider-panel

head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  title Демонстрационная страница
body
  div.demo-page
    section.demo-page__panel
      +slider-panel({
        min: -50,
        max: 20,
        step: 1,
        isVertical: true,
      })
    section.demo-page__panel
      +slider-panel({ isInverted: true })
    section.demo-page__panel
      +slider-panel({
        items: [
          1,
          'two',
          "<img src='https://img.icons8.com/cotton/2x/like--v1.png' alt='heart'>",
          'last',
        ],
        min: 0,
        max: 22,
        isRange: true,
        isInverted: false,
        isVertical: true,
        isMarkupVisible: true
      })
    section.demo-page__panel
      +slider-panel({
        handlers: [
          {
            itemIndex: 2,
            rangePair: 'start'
          },
          {
            itemIndex: 4,
            rangePair: 0
          },
          {
            itemIndex: 6,
            rangePair: 3
          },
          { itemIndex: 7 }
        ],
        step: 2,
        isTooltipsVisible: false,
        isMarkupVisible: true,
        isVertical: false
      })
