@mixin commonStyles() {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sliderLength: 240px;

$scaleThickness: 8px;
$scaleBorderWidth: 1px;
$scaleBorderRadius: 5px;

$handlerSize: 14px;
$handlerAddition: abs($handlerSize - $scaleThickness);
$handlerBorderWidth: 1px;

$tooltipHeight: 15px;
$tooltipWidth: 30px;
$tooltipPadding: 4px;
$tooltipMargin: 3px;
$tooltipBorderWidth: 1px;

$markupThickness: 1px;
$markupLength: $scaleThickness + 6px;

$minmaxMargin: 5px;
$minMaxFontSize: 10px;

.liquid-slider {
  $block: &;

  outline: none;
  display: flex;
  align-items: center;

  &_horizontal {
    min-width: 200px;
    width: 100%;
    flex-direction: row;
    padding-top: $handlerAddition/2 + $handlerBorderWidth + $tooltipHeight + $tooltipPadding*2;
    padding-bottom: $handlerAddition/2 + $handlerBorderWidth;

    #{$block}__body {
      width: inherit;
      min-width: inherit;
    }

    #{$block}__scale {
      width: inherit;
      min-width: inherit;
      height: $scaleThickness;
    }

    #{$block}__range {
      height: $scaleThickness - $scaleBorderWidth*2;
      top: $scaleBorderWidth;
    }

    #{$block}__markup-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: $scaleThickness;
    }

    #{$block}__markup {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      bottom: - abs($markupLength - $scaleThickness);
      width: $markupThickness;
      height: $markupLength;
    }

    #{$block}__min {
      margin-right: $minmaxMargin;
    }

    #{$block}__max {
      margin-left: $minmaxMargin;
    }

    #{$block}__handlers {
      height: $scaleThickness;
      width: inherit;
      min-width: inherit;
    }

    #{$block}__handler-container {
      flex-direction: column-reverse;
      bottom: - abs($scaleThickness - $handlerSize) / 2;
    }
  }

  &_vertical {
    min-height: 200px;
    height: 100%;
    flex-direction: column;
    padding-left: $handlerAddition/2 + $handlerBorderWidth;
    padding-right: $handlerAddition/2 + $handlerBorderWidth + $tooltipHeight + $tooltipPadding*2;
    margin-right: $minmaxMargin;

    #{$block}__body {
      height: inherit;
      min-height: inherit;
    }

    #{$block}__scale {
      height: inherit;
      min-height: inherit;
      width: $scaleThickness;
    }

    #{$block}__range {
      width: $scaleThickness - $scaleBorderWidth*2;
      left: $scaleBorderWidth;
    }

    &#{$block}__markup-wrap {
      height: inherit;
      width: $scaleThickness;
    }

    #{$block}__markup {
      left: - abs($markupLength - $scaleThickness);
      height: $markupThickness;
      width: $markupLength;
    }

    #{$block}__min {
      margin-bottom: $minmaxMargin;
    }

    #{$block}__max {
      margin-top: $minmaxMargin;
    }

    #{$block}__handlers {
      width: $scaleThickness;
      height: inherit;
      min-height: inherit;
    }

    #{$block}__handler-container {
      flex-direction: row;
      left: - abs($scaleThickness - $handlerSize) / 2;
    }
  }

  &__min, &__max {
    font-size: $minMaxFontSize;
  }

  &__min {
    order: 0;
  }

  &__max {
    order: 2;
  }

  &__body {
    order: 1;
    position: relative;
  }

  &__markup {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__handlers {
    position: absolute;
    top: 0;
  }

  &__scale {
    @include commonStyles();

    background-color: rgba(200, 200, 200, 0.3);
    border: solid $scaleBorderWidth black;
    border-radius: $scaleBorderRadius;
  }

  &__range {
    position: absolute;
    background-color: #83d3e9;
    border-radius: $scaleBorderRadius;
  }

  &__handler-container {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__handler-body {
    @include commonStyles();

    height: $handlerSize;
    width: $handlerSize;
    border-radius: 50%;
    background-color: #ffb6b0;
    border: solid $handlerBorderWidth darkgrey;
    outline: none;

    &:hover, &:focus {
      border-color: #593832;

      + #{$block}__handler-tooltip {
        visibility: visible;
      }
    }
  }

  &__handler-tooltip {
    @include commonStyles();

    height: $tooltipHeight + $tooltipPadding * 2;
    padding: $tooltipPadding;
    background-color: rgba(255, 255, 255, 0.75);
    border: solid $tooltipBorderWidth rgba(0, 0, 0, 0.25);
    border-radius: 20%;
    font-size: 14px;
    line-height: $tooltipHeight - $tooltipBorderWidth*2;
    text-align: center;
    user-select: none;

    > * {
      height: $tooltipHeight;
    }

    &_visible {
      visibility: visible;
    }

    &_hidden {
      visibility: hidden;
    }
  }
}
