* {
  outline: none;
}

body > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.wrap {
  font-family: Tahoma, serif;
  font-size: 14px;
  margin-bottom: 30px;
  height: fit-content;
  border: solid 1px #333333;
  border-radius: 10px;
  padding: 15px 20px 15px 15px;
  width: fit-content;
  display: flex;
  align-items: center;

  $slider-panelPadding: 25px;

  &.horizontal {
    flex-direction: column;

    .panel {
      padding-bottom: $slider-panelPadding/2;
      margin-bottom: $slider-panelPadding;
      border-bottom: dashed 2px black;
    }
  }

  &.vertical {
    flex-direction: row;

    .panel {
      padding-right: $slider-panelPadding/2;
      margin-right: $slider-panelPadding;
      border-right: dashed 2px black;
    }
  }

  .liquidSlider {
    .liquidSlider__body {
      .liquidSlider__scale {
        .liquidSlider__range {
          background-color: #a4a4a4;
        }
      }
    }
  }

  .panel__body {
    display: grid;
    row-gap: 15px;
    width: 500px;

    $inputTextWidth: 100px;
    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      row-gap: 10px;

      :first-child, :nth-child(3) {
        justify-self: end;
      }

      :nth-child(2) {
        justify-self: start;
      }

      label {
        align-self: center;
      }

      input {
        width: $inputTextWidth;
        border-radius: 10px;
        padding: 3px 10px;
        border: solid 1px #999999;
        font-weight: bold;
        align-self: center;
        text-align: center;
        vertical-align: baseline;

        &:hover {
          border: solid 1px #111111;
        }
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        padding: 0;
        margin: 0;
        border-radius: 4px;
        $checkboxSize: 15px;
        width: $checkboxSize;
        height: $checkboxSize;

        margin-left: ($inputTextWidth - $checkboxSize)/2;

        &:checked::after {
          content: "";
          transform: rotate(45deg);
          display: block;
          width: 4px;
          height: 7px;
          background-color: transparent;
          border-color: black;
          border-style: solid;
          border-width: 0 1px 1px 0;
          margin: 1px 0 0 4px;
        }
      }

      .panel__item {
        border-radius: 5px;
        padding: 5px;
        border: solid 1px #eeeeee;
        color: #999999;
        word-break: break-all;
        text-align: center;
      }
    }

    .panel__valueWrap {
      grid-template-columns: 100px max-content 100px 1fr;
      border-top: dashed 1px black;
      padding-top: 10px;
    }

    .panel__newHandlerWrap {
      grid-template-columns: max-content max-content 1fr;
      grid-template-rows: 1fr 1fr;
      border: dashed 1px black;
      border-radius: 5px;
      padding: $slider-panelPadding/2 $slider-panelPadding*2;
      order: 1;
      text-align: center;
      align-items: center;

      .panel__newHandlerPairSelect {
        width: $inputTextWidth;
        border-radius: 5px;
        padding: 2px 10px;
      }

      .panel__newHandlerButton {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        width: auto;
        justify-self: center;
        border-radius: 10px;
        border: solid 1px black;
        background-color: #ffffff;
        font-weight: bold;

        &:hover {
          background-color: #eeeeee;
        }

        &:active {
          border: solid 1px black;
          color: white;
          background-color: black;
        }
      }
    }
  }
}
