include ./slider-panel/slider-panel

head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  title Демонстрационная страница
div(class="panels")
  +slider-panel()
  +slider-panel()
  +slider-panel()
  +slider-panel()
