$inputTextWidth: 100px;
$slider-panel-padding: 25px;

.panel {
  $block: &;

  font-family: Tahoma, serif;
  font-size: 14px;
  margin-bottom: 30px;
  height: fit-content;
  border: solid 1px #333333;
  border-radius: 10px;
  padding: 15px 20px 15px 15px;
  width: fit-content;
  display: flex;
  align-items: center;

  &_horizontal {
    flex-direction: column;

    #{$block}__body {
      padding-bottom: $slider-panel-padding/2;
      margin-bottom: $slider-panel-padding;
      border-bottom: dashed 2px black;
    }
  }

  &_vertical {
    flex-direction: row;

    #{$block}__body {
      padding-right: $slider-panel-padding/2;
      margin-right: $slider-panel-padding;
      border-right: dashed 2px black;
    }
  }

  .liquid-slider__range {
    background-color: #a4a4a4;
  }

  &__body {
    display: grid;
    row-gap: 15px;
    width: 500px;
  }

  &__step,
  &__min,
  &__max,
  &__orientation,
  &__tooltips-visibility,
  &__markup-visibility,
  &__new-handler,
  &__value {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

    :first-child, :nth-child(3) {
      justify-self: end;
    }

    :nth-child(2) {
      justify-self: start;
    }
  }

  &__step-label,
  &__min-label,
  &__max-label,
  &__orientation-label,
  &__tooltips-visibility-label,
  &__markup-visibility-label,
  &__new-handler-label,
  &__value-label,
  &__item-label {
    align-self: center;
  }

  &__step-input,
  &__min-input,
  &__max-input,
  &__orientation-input,
  &__tooltips-visibility-input,
  &__markup-visibility-input,
  &__new-handler-input,
  &__value-input {
    width: $inputTextWidth;
    border-radius: 10px;
    padding: 3px 10px;
    border: solid 1px #999999;
    font-weight: bold;
    align-self: center;
    text-align: center;
    vertical-align: baseline;

    &:hover {
      border: solid 1px #111111;
    }
  }

  &__orientation-input,
  &__tooltips-visibility-input,
  &__markup-visibility-input {
    -webkit-appearance: none;
    padding: 0;
    border-radius: 4px;
    $checkboxSize: 15px;
    width: $checkboxSize;
    height: $checkboxSize;
    margin: 0 0 0 ($inputTextWidth - $checkboxSize)/2;
    outline: none;

    &:checked::after {
      content: "";
      transform: rotate(45deg);
      display: block;
      width: 4px;
      height: 7px;
      background-color: transparent;
      border-color: black;
      border-style: solid;
      border-width: 0 1px 1px 0;
      margin: 1px 0 0 4px;
    }
  }

  &__value {
    grid-template-columns: 100px max-content 100px 1fr 15px;
    border-top: dashed 1px black;
    padding-top: 10px;
  }

  &__delete-button {
    width: 15px;
    height: 15px;
    line-height: 11px;
    text-align: center;
    font-size: 11px;
    padding: 0;
    border-radius: 50%;
    color: indianred;
    border: 2px solid indianred;
    background-color: white;
    font-weight: bold;
    align-self: center;
    outline: none;

    &:hover {
      background-color: indianred;
      color: white;
      cursor: pointer;
    }
  }

  &__item {
    border-radius: 5px;
    padding: 5px;
    border: solid 1px #eeeeee;
    color: #999999;
    word-break: break-all;
    text-align: center;
  }

  &__new-handler {
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: 1fr 1fr;
    border: dashed 1px black;
    border-radius: 5px;
    padding: $slider-panel-padding/2 $slider-panel-padding*2;
    order: 1;
    text-align: center;
    align-items: center;
  }

  &__new-handler-pair-select {
    width: $inputTextWidth;
    border-radius: 5px;
    padding: 2px 10px;
  }

  &__new-handler-button {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: auto;
    justify-self: center;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #ffffff;
    font-weight: bold;

    &:hover {
      background-color: #eeeeee;
    }

    &:active {
      border: solid 1px black;
      color: white;
      background-color: black;
    }
  }
}
